.body-background{
    background-color: blueviolet;
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    max-width: 800px;
    gap:40px;
    padding: 40px;
}
.detailsbox{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 25px;
    max-width: 500px;
    border: 5px;
    padding: 20px;
}

.formula-box{
    background-color:lightblue ;
    padding-left: 20px;
    border-left: 4px solid blue;
    
}