h1{
    color:#003366;
    text-align: center;
}
body{
    background-color: rgb(178, 207, 211);;
}
form{
    width:600px;
    margin: auto;
    background-color: aliceblue;
    padding: 15px;

}
legend{
    color: #15599e;
}
input,select,textarea{
    width:97%;
    padding: 8px;
    margin: 2px;
}
input[type="radio"],
input[type="checkbox"] {
    width: auto;        
}
button{
    background-color: blue;
    width: 100px;
    margin-right:50px;
}
.b{
    text-align: center;
    margin-top: 5px;

}
fieldset{
    border-radius: 5px;
}